<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The name of the user is : {{UO.sname}}</h1>
    <h1>The PNO of the user is :{{UO.pno}}</h1>
    <h1>The Email of the user is :{{UO.email}}</h1>
    <h1>The Address of the user is :{{UO.add}}</h1>
    <h1>The Branch of the user is : {{UO.branch}}</h1>
    <h1>The Username of the user is :{{UO.username}}</h1>
    <h1>The Password of the user is :{{UO.password}}</h1>
</body>
</html>